* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heroCustom {
  background: linear-gradient(97.75deg, #1e1e9a -30.35%, #007aff 115.26%);
}

.babu {
  background: linear-gradient(
    103.42deg,
    rgba(0, 3, 9, 0.3) 20.67%,
    rgba(1, 43, 90, 0.270822) 47.01%,
    rgba(1, 148, 254, 0.159) 66.96%,
    rgba(4, 34, 107, 0.072) 76.55%
  );
}

.botton {
  background: linear-gradient(
    83.46deg,
    #00c3fd -13.99%,
    #0194fe 31.77%,
    #0284e2 73.27%
  );
}

.layoutbg {
  background: linear-gradient(
    103.42deg,
    #000309 20.67%,
    rgba(1, 43, 90, 0.902738) 47.01%,
    rgba(1, 148, 254, 0.53) 66.96%,
    rgba(4, 34, 107, 0.24) 76.55%
  );
}

.dilogbg {
  background: linear-gradient(
    103.42deg,
    #000309 20.67%,
    rgba(1, 43, 90, 0.902738) 47.01%,
    rgba(5, 68, 114, 0.904) 66.96%,
    rgba(5, 19, 56, 0.849) 76.55%
  );
}

.navbg2 {
  background: linear-gradient(
    103.42deg,
    #000309 20.67%,
    rgba(2, 63, 133, 0.903) 47.01%,
    rgba(1, 13, 22, 0.53) 66.96%,
    rgba(0, 0, 0, 0.61) 76.55%
  );
}

.custombtn {
  background: linear-gradient(65.84deg, #00c3fd 25.98%, #0194fe 65.48%);
}

.herobg {
  background: linear-gradient(
    103.42deg,
    #000309 20.67%,
    rgba(1, 43, 90, 0.902738) 47.01%,
    rgba(1, 148, 254, 0.53) 66.96%,
    rgba(4, 34, 107, 0.24) 76.55%
  );
}
.customborder {
  height: 2px;
  border-bottom-color: linear-gradient(
    89.03deg,
    rgba(0, 195, 253, 0.02) -18.33%,
    #00c3fd 23.35%,
    #0194fe 60.49%,
    rgba(1, 148, 254, 0) 108.53%
  );
}

.hero {
  background: rgb(13, 11, 31);
  background: linear-gradient(
    90deg,
    rgba(13, 11, 31, 0.9570203081232493) 0%,
    rgba(109, 96, 166, 1) 38%,
    rgba(137, 115, 208, 1) 69%,
    rgba(32, 25, 47, 0.9598214285714286) 100%
  );
}
